h1{
    color: blueviolet;
    font-size: 40px;
}
p1 {
    color: blueviolet;
    font-size: 20px;

}
p {
    
    font-size: 20px;

}
h2{
    
    color:brown;
    font-size: 30px;

}
p2{
    color:black;
    font-size: 20px;


}